<ul class="messages">
    {% if messages %}
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    {% endif %}
</ul>

{% load static %}
<script src="{% static "js/imports/jquery-3.3.1.min.js" %}"></script>
<script src="{% static "js/imports/jquery-ui.min.js" %}"></script>
<script src="{% static "foundation/js/foundation.min.js" %}"></script>
<script src="{% static "js/dashboard.js" %}"></script>
<script src="{% static "js/plan.js" %}"></script>
<script>
    $(document).foundation();
    $('.datepicker').datepicker({
        dateFormat: 'dd-mm-yy'
    });
</script>
{% block javascript %}
{% endblock %}
