<!DOCTYPE html>
<html>
    {% include "core/header.html" %}
    <body>
        <main>
            <nav class="main-menu">
                <div class="top-bar">
                    <div class="top-bar-left">
                        <ul class="dropdown menu" data-dropdown-menu>
                            <li class="menu-text logo">
                                <a href="/">
                                    <i class="fa fa-globe" aria-hidden="true"></i>&nbsp;  Atlas
                                </a>
                            </li>
                            <li>
                                <a href="/assets">Assets</a>
                                <ul class="menu vertical">
                                    <li><a href="/assets/hardware">Hardware</a></li>
                                    <li><a href="/assets/software">Software</a></li>
                                    <li><a href="/assets">All assets</a></li>
                                </ul>
                            </li>
                            <li><a href="/sections">Sections</a></li>
                            <li><a href="/people">People</a></li>
                        </ul>
                    </div>
                    <div class="top-bar-right search-menu">
                        <ul class="menu">
                            <li><input type="search" placeholder="Search"></li>
                            <li><button type="button" class="button">Search</button></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <section class="inner">
                <div class="wrapper">
                    <header class="block top">
                        {% block content-top %}
                            <h3>Hello, {{ request.user.username }}</h3>
                            <p>What section do you want to update?</p>
                        {% endblock %}
                    </header>
                    <div class="block middle">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
                {% block modal %}
                {% endblock %}
            </section>
        </main>
        {% include "core/footer.html" %}
    </body>
  </html>
