{% extends 'core/admin/index.html' %}

{% block metatitle %}
    <title>Atlas - Login</title>
{% endblock %}

{% block title %}
{% endblock %}

{% block content-top %}
{% endblock %}

{% block content %}
    <div class="login-wrapper">
        <div class="block middle">
            <h3>Login</h3>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button">Login</button>
            </form>
        </div>
    </div>
{% endblock %}