.detail-info {
  list-style: none;
  margin-left: 0;

  li {
    margin-bottom: $spacing/4;

    p {

      &:first-child {
        font-weight: bold;
        margin-bottom: 0;
      }
    }
  }
}

.asset-table-wrapper {
  display: flex;
  margin: -0.75rem;

  table {
    margin: 0.75rem;
  }
}