body {
  background-color: $background-color;
}

.inner {
  padding: $spacing*0.75;
}

.button:focus, .reveal:focus {
  outline: 0;
}

.block {
  background: $white;
  border-radius: $global-radius;
  padding: $spacing*0.75;
  margin-bottom: $spacing*0.75;

  h3 {
    font-size: 1.5rem;
    margin-bottom: $spacing/2;
  }

  .button {
    margin-bottom: 0;
  }
}


