{% extends 'core/admin/index.html' %}
{% load i18n %}

{% block metatitle %}
	 <title>Atlas - Assets</title>
{% endblock %}

{% block title %}
{% endblock %}

{% block content-top %}
{% if request.user.role == 'admin' %}
    <header class="block top">
        <h3>Actions</h3>
        <div class="action-buttons">
            <a href="/assets/{{ asset.id }}/delete" class="button">
                {% trans "Remove" %}
            </a>
            <a href="/assets/{{ asset.id }}/edit" class="button">
                {% trans "Edit" %}
            </a>
            <a href="/assets/software/{{ asset.id }}/add-license" class="button">
                {% trans "Add License" %}
            </a>
        </div>
    </header>
{% endif %}
{% endblock %}

{% block content %}
    <div class="double">
        <div class="block middle">
            <h3>{{ asset.title }}</h3>
            <div class="asset-table-wrapper">
                <div class="wrapper">
                    <table>
                        <thead>
                        <tr>
                            <th>{% trans "Details" %}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if asset.user %}
                        <tr>
                            <td>{% trans "User" %}</td>
                            <td>{{ asset.user.username }}</td>
                        </tr>
                        {% endif %}
                        {% if asset.section %}
                        <tr>
                            <td>{% trans "Section" %}</td>
                            <td>{{ asset.section.title }}</td>
                        </tr>
                        {% endif %}
                        {% if asset.price %}
                        <tr>
                            <td>{% trans "Price" %}</td>
                            <td>€{{ asset.price }}</td>
                        </tr>
                        {% endif %}
                        {% if asset.valid_until %}
                        <tr>
                            <td>{% trans "Expiration date" %}</td>
                            <td>{{ asset.valid_until }}</td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% if qr_code %}
            <div class="block right qr">
                <h3>QR-Code</h3>
                {% load qr_code %}
                {% qr_from_text qr_code size="l" border=0 %}
            </div>
        {% endif %}
    </div>
    {% if licenses %}
        <div class="block middle">
            <h3>{% trans "Licenses" %}</h3>
            <table>
                <thead>
                <tr>
                    <th>{% trans "License" %}</th>
                    <th>{% trans "User" %}</th>
                    <th>{% trans "Amount" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for license in licenses %}
                    <tr>
                        <td>
                            {% if license.license %}
                                {{ license.license }}
                            {% endif %}
                        </td>
                        <td>
                            {% if license.user %}
                                {{ license.user.username }}
                            {% endif %}
                        </td>
                        <td>
                            {% if license.license_amount %}
                                {{ license.license_amount }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
