{% extends 'core/index.html' %}
{% load i18n %}

{% block metatitle %}
<title>Atlas - Add assets</title>
{% endblock %}

{% block title %}
{% endblock %}

{% block content-top %}
{% endblock %}

{% block content %}
    <div class="block middle">
        <h3>{% trans "Add asset" %}</h3>
        <form action="/assets/add" method="post">
            {% csrf_token %}
            {{ form }}
            <input class="button" type="submit" value="Submit" />
        </form>
    </div>
{% endblock %}

{% block modal %}
    <div class="reveal" id="addAsset" data-reveal>
        <h3>{% trans "Add asset" %}</h3>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endblock %}
