{% extends 'core/index.html' %}

{% block metatitle %}
<title>Atlas - Add assets</title>
{% endblock %}

{% block title %}
{% endblock %}

{% block content-top %}
<h3>Shortcuts</h3>
<div class="action-buttons">
    <button class="button" data-open="addAsset">Add asset</button>
    <a href="/assets/add" class="button">Filter</a>
</div>
{% endblock %}

{% block content %}
<h3>Add Asset</h3>
<form action="/assets/add" method="post">
    {% csrf_token %}
    {{ form }}
    <input class="button" type="submit" value="Submit" />
</form>
{% endblock %}

{% block modal %}
<div class="reveal" id="addAsset" data-reveal>
    <h3>Add asset</h3>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endblock %}
