{% extends 'core/index.html' %}
{% load i18n %}

{% block metatitle %}
	 <title>Atlas - Assets</title>
{% endblock %}

{% block title %}
{% endblock %}

{% block content-top %}
<header class="block top">
    <h3>Actions</h3>
    <div class="action-buttons">
        <a href="/assets/{{ asset.id }}/remove" class="button">
            {% trans "Remove" %}
        </a>
        <a href="/assets/{{ asset.id }}/edit" class="button">
            {% trans "Edit" %}
        </a>
        <a href="/info/updates/add?asset={{ asset.id }}" class="button">
            {% trans "Add update" %}
        </a>
    </div>
</header>
{% endblock %}

{% block content %}
    <div class="double">
        <div class="block middle">
            <h3>{{ asset.title }}</h3>
            <div class="asset-table-wrapper">
                <div class="wrapper">
                    <table>
                        <thead>
                        <tr>
                            <th>{% trans "Details" %}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if asset.user %}
                        <tr>
                            <td>{% trans "User" %}</td>
                            <td>{{ asset.user.username }}</td>
                        </tr>
                        {% endif %}
                        {% if asset.section %}
                        <tr>
                            <td>{% trans "Section" %}</td>
                            <td>{{ asset.section.title }}</td>
                        </tr>
                        {% endif %}
                        {% if asset.price %}
                        <tr>
                            <td>{% trans "Price" %}</td>
                            <td>€{{ asset.price }}</td>
                        </tr>
                        {% endif %}
                        {% if asset.valid_until %}
                        <tr>
                            <td>{% trans "Expiration date" %}</td>
                            <td>{{ asset.valid_until }}</td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="wrapper">
                    {% block asset_info %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% if qr_code %}
            <div class="block right qr">
                <h3>QR-Code</h3>
                {% load qr_code %}
                {% qr_from_text qr_code size="l" border=0 %}
            </div>
        {% endif %}
    </div>
    {% if updates %}
        <div class="block middle">
            <h3>{% trans "Updates" %}</h3>
            <table>
                <thead>
                <tr>
                    <th>{% trans "Title" %}</th>
                    <th>{% trans "Date" %}</th>
                    <th width="50%">{% trans "Description" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for update in updates %}
                    <tr>
                        <td>
                            {% if update.title %}
                                {{ update.title }}
                            {% endif %}
                        </td>
                        <td>
                            {% if update.date %}
                                {{ update.date }}
                            {% endif %}
                        </td>
                        <td>
                            {% if update.description %}
                                {{ update.description }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block modal %}
	<div class="reveal" id="addAsset" data-reveal>
		<h3>Add asset</h3>
		<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
{% endblock %}
