{% extends 'core/index.html' %}

{% block metatitle %}
	 <title>Atlas - Assets</title>
{% endblock %}

{% block title %}
{% endblock %}

{% block content-top %}
    <h3>Shortcuts</h3>
    <div class="action-buttons">
		<button class="button" data-open="addAsset">Remove</button>
        <a href="/assets/add" class="button">Filter</a>
    </div>
{% endblock %}

{% block content %}
    <h3>{{ asset.title }}</h3>
    <table>
        <thead>
            <tr>
                <th width="20%">Name</th>
                <th>User</th>
                <th>Section</th>
                <th width="20%">Date</th>
                <th width="5%">Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block modal %}
	<div class="reveal" id="addAsset" data-reveal>
		<h3>Add asset</h3>
		<button class="close-button" data-close aria-label="Close modal" type="button">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
{% endblock %}
