{% extends 'core/user/panel.html' %}
{% load i18n %}

{% block metatitle %}
    <title>Atlas - Request</title>
{% endblock %}

{% block title %}
{% endblock %}

{% block content-top %}
{% endblock %}

{% block content %}
    <div class="block middle">
        <h3>{% trans "Make a request" %}</h3>
        <form action="{{ request.path }}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
            <input class="button" type="submit" value="Submit" />
        </form>
    </div>
{% endblock %}
