<!DOCTYPE html>
<html>
    {% include "core/header.html" %}
    {% load i18n %}
    <body>
        <main>
            {% include "core/admin/menu.html" %}
            <section class="inner">
                <div class="wrapper">
                    {% block content-top %}
                        <header class="block top">
                            <h3>{% trans "Welcome" %} {{ request.user.username }}</h3>
                            <div class="action-buttons">
                                <a href="/assets/hardware/add" class="button">{% trans "Add hardware" %}</a>
                                <a href="/assets/software/add" class="button">{% trans "Add software" %}</a>
                            </div>
                        </header>
                    {% endblock %}
                    {% block content %}
                        <div class="block middle">
                        </div>
                    {% endblock %}
                </div>
                {% block modal %}
                {% endblock %}
            </section>
        </main>
        {% include "core/footer.html" %}
    </body>
  </html>
