{% load i18n %}
{% if licenses %}
    <div class="block middle">
        <h3>{% trans "Licenses" %}</h3>
        <table>
            <thead>
            <tr>
                <th>{% trans "License" %}</th>
                <th>{% trans "User" %}</th>
                <th>{% trans "Amount" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for license in licenses %}
                <tr>
                    <td>
                        {% if license.license %}
                            {{ license.license }}
                        {% endif %}
                    </td>
                    <td>
                        {% if license.user %}
                            {{ license.user.username }}
                        {% endif %}
                    </td>
                    <td>
                        {% if license.license_amount %}
                            {{ license.license_amount }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
