{% load i18n %}
{% if updates %}
    <div class="block middle">
        <h3>{% trans "Updates" %}</h3>
        <table>
            <thead>
            <tr>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Date" %}</th>
                <th width="50%">{% trans "Description" %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for update in updates %}
                <tr>
                    <td>
                        {% if update.title %}
                            {{ update.title }}
                        {% endif %}
                    </td>
                    <td>
                        {% if update.date %}
                            {{ update.date }}
                        {% endif %}
                    </td>
                    <td>
                        {% if update.description %}
                            {{ update.description }}
                        {% endif %}
                    </td>
                    <td>
                        {% if update.attachment %}
                            <a class="table-attachment" href="{{ update.attachment.url }}" download>
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
